.container-perfil {
    display: flex;
}
.container-perfil__image {
    /* margin: 20px 30px 20px 30px; */
    width: 200px;
    object-fit: cover;
    align-self: flex-start;
    border-radius: 20px;
    margin: 30px;
}
.container-perfil__text{
    flex: 1 1 auto;
}


.list-group-item {
    margin-bottom: 5px;
}