li.nav-item {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.15rem;
    font-weight: dark;
    color: #BB9981;
    text-shadow: 0.2rem 0.2rem 0.1rem #C5D8A4;
}

a {
    padding-left: 2%;
}

.cat {
    font-size: 2rem;
    color: #F4FCD9;
}

.face {
    font-size: 2rem;
    color: blue;
}

.insta {
    font-size: 2rem;
    color: purple;
}

.twitter {
    font-size: 2rem;
    color: rgb(36, 139, 207);
}

.mail {
    font-size: 2rem;
    color: red;
}

#redes {
    display: grid;
    grid-template-columns: 6fr 6fr 6fr 6fr;
    grid-column-gap: 1rem;
    justify-content: center;
    list-style: none;
    /* border: 5px solid black; */
    margin-left: 50%;
    padding-top: 1%;
}