.p-lg-5 {
    box-shadow: -6px 11px 20px 0px;
}

.background-forgot-password {
    background: #F4FCD9 !important;
}

.forgot-password-button {
    color: #212121 !important;
    background-color: #C5D8A4 !important;
    border-color: #AAD166FA !important;
}

.form-control:focus {
    border-color: #4b5e2cfa !important;
    box-shadow: inset 0 1px 1px rgba(68, 106, 70, 0.342), 0 0 8px #4b5e2cfa!important;
}