body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



:root{
  --fluorescentBlue-color:#79ECE6;
  --aeroBlue-color:#C5F6DE;
 --mediumAquamarine-color:#79ECB3;
 --mediumSpringGreen-color:#29E085;
 --screaminGreen-color:#8EF070;
 --mindaro-color:#ECFF70;
  --orangeYellow-color:#FFD770;
  --mellowApricot-color:#FFB870;
  --atomicTangerine-color:#FFA770;
  --lightSalmon-color:#FF9670;
  --green-web: #F4FCD9;
  --green-two-web: #C5D8A4;
  --brown-web: #BB9981;
  --brown-two-web: #534340;
  --green-web-dark: #aeb49b;
  --green-two-web-dark: #1b1f16;
  --brown-web-dark: #836b5a;
  --brown-two-web-dark: #382d2b;
}

.container-main {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  flex-direction: column !important;
  display: flex !important;
  min-height: 85vh !important;
  background-size: cover;
}

.card-web {
  background-color: var(--green-web) !important;
}

.container-web{
  margin-top: 2rem;
}

.container-white {
  background-color: white;
}
.container-black {
  background-color: black;
}
.container-brown {
  background-color: var(--brown-web);
}
.container-brownTwo {
  background-color: var(--brown-two-web);
}
.container-bgBlack {
  background-image: url("./assets/images/bgblack.png");
}
.container-bgWhite {
  background-image: url("./assets/images/bgwhite.png");
}

.containerForm {
  background-color: var(--green-web);
  margin: 5rem;
  padding: 2rem;
}

.containerForm h1 {
  text-align: center;
  letter-spacing: 0.2rem;
  color:var(--brown-two-web);
}

.btnConf {
  background-color: var(--green-two-web);
  color: var(--brown-two-web);
  border: none;
  border-radius: 0.2rem;
  text-transform: uppercase;
  width: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 420px){
  .redirect {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}
.redirect {
  text-decoration: none;
  color: var(--brown-two-web);
  text-align: center;
  width: 100%;
}

.redirect a {
  color: var(--brown-two-web);
  text-decoration: none;
  margin-left: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.buttonsConfirm a:hover {
  color: black;
}

.buttonsConfirm a {
  margin-left: 1rem;
}

.buttonsConfirm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsExtra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnConf.google {
  width: 15rem;
}

.successMsg{
  color: var(--screaminGreen-color);
  font-size: 1rem;
}